	<form class="billtableform"  onkeypress="return event.keyCode != 13;">
<div class=" billprint">

	<div  style="max-height:450px !important; overflow-y:scroll;">
	

        <nav class="nav attachtable flex-column border " style="box-shadow: 1px 1px grey;"> 
  <a class="nav-link text-danger border border-bottom-1 border-left-1"  href="#">
    <label>Table name</label>
    </a>
    
  
</nav>
<nav class="nav attachroom flex-column border " style="box-shadow: 1px 1px grey;"> 
	<a class="nav-link text-danger border border-bottom-1 border-left-1"  href="#">
	  <label>Room name</label>
	 </a>
  </nav>
  <nav class="nav attachhall flex-column border " style="box-shadow: 1px 1px grey;"> 
	<a class="nav-link text-danger border border-bottom-1 border-left-1"  href="#">
	  <label>Hall name</label>
	
	</a>
  </nav>
    </div>

 






</div>


</form>

