<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ansu ERP</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  
  <!-- Font Awesome -->
  <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="dist/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <script type="text/javascript" src="languagepack/js/jquery.calendars.js"></script>
<script type="text/javascript" src="languagepack/js/jquery.calendars.nepali.js">
</script>

<script type="text/javascript" src="languagepack/js/jquery.calendars.plus.js"></script>

  <link rel="stylesheet" type="text/css" href="languagepack/css/jquery.calendars.picker.css"> 
  <script type="text/javascript" src="languagepack/js/jquery.plugin.js"></script> 
  <script type="text/javascript" src="languagepack/js/jquery.calendars.picker.js"></script>

 <script>
 $(document).on('keypress','button[type="submit"]',function(e)
 {
   e.preventDefault();
   if(e.keyCode===13)
   {
     
   $(this).click();
   location.reload();
   }
 })
 </script>  
  

</head>
