
  <% include ../partials/vhead %>
  




  <style>
      @media screen and (max-width: 992px) {
        body {
          background-color: blue;
          color: white;
        }
  
        h1 {
          color: indigo;
        }
  
      }
  
      @media print and (max-width: 992px) {
  
        input,
        select {
          border: 0px !important;
  
        }
  
        .printbutton {
          display: none !important;
        }
  
        button {
          display: none;
        }
  
        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border: none;
          /* If you want to remove the border as well */
          background: none;
        }
  
        table,
        tr,
        th,
        td {
          border: 0px !important;
        }
  
  
  
  
        /* On screens that are 600px wide or less, the background color is olive */
    </style>

    <style type="text/css" media="print">
    @page {
      size: auto;
      /* auto is the initial value */
      margin: 0;
      /* this affects the margin in the printer settings */
    }
  </style>



<body class="hold-transition sidebar-mini">

  <div class="wrapper">
    <% include ../partials/vnav3 %>
    <% include ../partials/vaside %>

  
   
  
  
  <main>
     <datalist id="itemnamelist">
      <% itemtable.forEach(function(result) { %>

    <option value='<%= result.itemname %>'>
                                       <%= result.itemgroup %>
                                    </option>
                                    <%  }); %>
  </datalist>

 
    <% include ../partials/tableModal %>

    <% include ../partials/roomModal %>

    <% include ../partials/hallModal %>

  </main>

   <!-- Content Wrapper. Contains page content -->
   <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    
  <div class="row">
      <form class="billtableform col-md-10"  onkeypress="return event.keyCode != 13;">
          <div class="billmainpart">
                
 

          </div><br>
          <div class="row finalmaintable">

          </div>
      </form>
      <div class="col-md-2">
        <% include ../partials/billingside %>
      </div>
  </div>

  <script src="../js/billing.js"></script>
  <script src="../js/roomcreate.js"></script>
  <script src="../js/hallcreate.js"></script>
  <script src="../js/tablecreate.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</div>
  <script>


  var itemlistresult='';
    $.ajax({
      url:'/getroom',
      type:'get',
      success:function(data)
      {
        var roomdetails= data.result;
        var attachroom='';
        for(i=0;i<roomdetails.length;i++)
        {
       attachroom+=`<a class="nav-link border border-bottom-1 border-left-1" onclick="javascript:showmainbilling(event,'room','${roomdetails[i].name}');"  href="#">
    <label>${roomdetails[i].name}</label><label class="float-right ${roomdetails[i].name}-status"></label>`;
if(roomdetails[i].status==='Open')
{
attachroom+=`<i class="fa fa-circle float-right" style= "color:red; font-size:10px;"></i></a>`;
        }
        else
        {
          attachroom+=`<i class="fa fa-circle float-right" style= "color:red; font-size:10px;"></i></a> `;
        }
        
      }
      $(`nav.attachroom`).append(attachroom);
    }
      
    });

    $.ajax({
      url:'/gettable',
      type:'get',
      success:function(data)
      {
        var tabledetails= data.result;
        var attachtable='';
        for(i=0;i<tabledetails.length;i++)
        {
       attachtable+=`<a class="nav-link border border-bottom-1 border-left-1" onclick="javascript:showmainbilling(event,'table','${tabledetails[i].name}');"  href="#">
    <label>${tabledetails[i].name}</label><label class="float-right ${tabledetails[i].name}-status"></label>`;
if(tabledetails[i].status==='Open')
{
attachtable+=`<i class="fa fa-circle float-right" style= "color:green; font-size:10px;"></i></a>`;
        }
        else
        {
          attachtable+=`<i class="fa fa-circle float-right" style= "color:red; font-size:10px;"></i></a> `;
        }
        
      }
      $(`nav.attachtable`).append(attachtable);
    }
      
    });

        $.ajax({
      url:'/gethall',
      type:'get',
      success:function(data)
      {
        var halldetails= data.result;
        var attachhall = '';
        for(i=0;i<halldetails.length;i++)
        {
          

attachhall+=`<a class ="nav-link border border-bottom-1 border-left-1" onclick = "javascript:showmainbilling(event,'hall','${halldetails[i].name}');" href="#">
<label>${halldetails[i].name}</label><label class = "float-right ${halldetails[i].name}-status"></label>`;
if(halldetails[i].status==='Open')
{
attachhall+=`<i class="fa fa-circle" style= "color:red; font-size:10px;"></i></a>`;
}
else
{
attachahall+=`<i class="fa fa-circle" style= "color:green; font-size:10px;"></i></a> `;
}

}
$(`nav.attachhall`).append(attachhall);
}

});


    $('div#hallModal').on('shown.bs.modal', function(e) {

     $(this).find('input').eq(0).focus();


});


        $('body').on('shown.bs.modal', '#tableModal', function () {

            $('input:visible:enabled:first', this).focus();
        })
        

    $('#roomModal').on('shown.bs.modal', function() {
        console.log("Entered");
         $('#roomModal').find('input').eq(0).focus();
        
    });

function addbilldate()
{
  var gc = $.calendars.instance('gregorian','fr'); 
var currentdate=gc.newDate();
      var currenttime=new Date();
      var currenttime=currenttime.toLocaleTimeString();
      var random =parseInt(Math.floor((Math.random()*1000000000) +1));

      $('.salesdate').append("<label class='ml-1 d-inline'>"+currentdate+"</label>");
        $('.times').append("<label class='timeupdate ml-1 d-inline'>"+currenttime+"</label>");
        $('.billno').append("<label class='ml-1 d-inline'>"+random+"</label>");

}

function showmainbilling(e,type,rthname)
{
  e.preventDefault();
    $('div.billmainpart').html('');
   $('div.finalmaintable').html('');

  $('div.billmainpart').append(`
<form class="billtableform" >
  <div class="row" style="margin-left:20px;">
    <div class="col-12 billdata">
      <h1 style="text-align:center;"> The Chulo Hotel</h1>

    	 <p style="text-align: center;">Manakamanapath-2, fullbari, Butwal</p> 
    	<p style="text-align: center;display:none;">Province 5, Nepal</p>

    	<label style="font-size:12px;"><b>Bill no:</b></label>
      <input class="billno text-center border border-0 disabled ml-1">
	      <label style="position:relative; left:100px; font-size:12px;">
	      <label class='dates d-inline'>Date:</label>
        <input  type="date" style="font-size: 15px; border:1px solid blue !important; text-align:center; width:200px; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " class="form-control salesdate d-inline ml-2 mr-2"  autofocus name="salesdate" autocomplete="off">
	      <label style="position:relative; left:30px;"><b>PAN No.:</b><b class=" panno ml-1">304898466</b></label> 

      </label>
      <br/>
    </div>

    <div class="billdata ml-3">
      <label class="d-inline">Name:</label><input id="customername"  style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; width:200px;" class="form-control d-inline ml-2 mr-2" placeholder="Customer name" autofocus name="customername" autocomplete="off"><label class="d-inline">Address:</label><input   style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; width:200px;" class="form-control d-inline ml-2 mr-2" placeholder="Address" autofocus name="address" id="address" autocomplete="off"><label class="d-inline">RTHName:</label><input name="rthname" id="rthname" autocomplete="off"  style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; width:100px" class="form-control ml-1 d-inline" value=${rthname} ><input id="rthtype" type="text" class="d-none" value=${type} >
    </div>

  </div>
<br>

 <div class="viewstock" style="margin-left:20px;">
    <div class="row mt-3">
						
      <div class="col-md-4 form-group">

        <input list="itemnamelist" id="insertitemname" class="d-inline w-100" style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important;" placeholder="Itemname" autofocus autocomplete="off">
                    
      </div>
      <div class="col-md-3 searchstockitem">

            <input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; "    type="number" placeholder="Quantity" class="text-center mr-2" id="insertquantity">
                  
      </div>
      <div class="col-md-3">
            <a class="btn ml-4  btn-sm additem btn-primary">Add</a>
      </div>
				
      <div class="col-md-2">
      </div>
    </div>
  </div>
	
  <table  class="table  billtable " style="margin-left:20px;">
		<tr class=" m-0  row text-center">
	
			<th  class="col-md-3">Item Name </th>
			<th  class="col-md-3">Quantity</th>
			<th  class="col-md-3">Price(Rs.)</th>
			<th  class="col-md-3">Amount</th>
		</tr>	
	</table>
  </form>
  `);

  
  var totalamount=0;


  $('div.finalmaintable').append(`
  <div class="col-md-3">
    <label class="text-bold">Total</label>
    <input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " class=" d-inline form-control w-100 text-center" name="totalamount" id="totalamount" value="0">
	</div>
	<div class="col-md-3">
	  <label>Service Charge</label>
    <input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; "  class="d-inline form-control w-100 text-center" name="servicechargeamount" value="0" id="servicechargeamount">
	</div>
	
	
<div class="col-md-3">
  <label>Discount</label>
  <input  placeholder="Amount" style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important;  width:120px;  box-shadow: 2px 2px blue !important; border-radius:5px !important; " name="discountamount" class=" d-inline  form-control text-center" type="number" value=0 id="discountamount" /> Rs.

  <input style="font-size: 15px; border:1px solid blue !important;  height:32px !important; width:50px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " name="discountpercentage" class=" d-inline form-control mt-1" id="discountpercent" value=0 placeholder="%" type="number"  /> %
</div>
<div class="col-md-3">
	<label><b>Grand Total</b></label><input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " name="grandtotalamount" class="form-control  w-100 text-center" id="grandtotalamount" value="0">

</div>
</div>

<div class="col-md-3"><label class="text-bold">Payment Received</label><input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; " class=" d-inline form-control w-100 text-center" name="paymentreceived" min="1" id="paymentreceived" required>
	</div>
	<div class="col-md-3">
	  <label>Balance Due</label><input style="font-size: 15px; border:1px solid blue !important; text-align:center; height:32px !important; border-radius:5px !important;  box-shadow: 2px 2px blue !important; "  class="d-inline form-control w-100 text-center" name="balancedue" value="0" id="balancedue">
	</div>
  <br></br>
	<div class="text-center mt-4">
	  <input type="submit"  id="submit" class="btn btn-primary text-center" role="button" value="Submit"> 
	</div>
    


`);


/* $.noConflict(); */
 var random =parseInt(Math.floor((Math.random()*1000000000) +1));
$('.billno').val(random);

$('input.salesdate').calendarsPicker({calendar: $.calendars.instance('gregorian'),dateFormat: 'yyyy-mm-dd'})

var gc = $.calendars.instance('gregorian', 'fr');
var currentdate = gc.newDate();

$('.salesdate').val(currentdate);
$.ajax({
  url:'/searchitembyrth',
  method:'post',
  data:{rthname:rthname},
  async:false,
  success:function(data)
  {
  results=data.results;
  console.log(results);
  itemlistresult=results;
  if(results.length>0)
  {
  $('table.billtable tr td').remove();
   /*  var totalamount=Number(data.iteminfo[0].price) * Number(quantity);  */
  for(i=0;i<results.length;i++)
  {
    $('table.billtable').append(`<tr class=" m-0  row text-center">
    <td class="col-md-3">${results[i].itemname}</td>
    <td  class="col-md-3">${results[i].quantity}</td>
    <td  class="col-md-3">${results[i].price}</td>
    <td  class="col-md-3">${results[i].amount}</td>
  </tr>`);	
  totalamount=totalamount+results[i].amount;
  }
  $('#totalamount').val(totalamount);
  $('#grandtotalamount').val(totalamount);

  $('.billno').val(results[0].billno);
  };
  },
  error:function(data)
  {
    alert("Item not in the list");
  }
})


var gc = $.calendars.instance('gregorian','fr'); 
var currentdate=gc.newDate();
      var currenttime=new Date();
      var currenttime=currenttime.toLocaleTimeString();
      var random =parseInt(Math.floor((Math.random()*1000000000) +1));

        $('.billno').append("<label class='ml-1 d-inline'>"+random+"</label>");

}





$(document).on('click','a.additem',function(e)
{
  
  var itemname= $('#insertitemname').val();
  var quantity = $('#insertquantity').val();
  var rthname = $('#rthname').val();
  var salesdate= $('.salesdate').val();
  var billno = $('.billno').val();
  
  var rthtype= $('#rthtype').val();

  $('table.billtable tr td').remove();
$.ajax({
  url:'/searchitem',
  method:'post',
  data:{itemname:itemname,quantity:quantity,rthname:rthname,salesdate:salesdate,billno:billno,rthtype:rthtype},
  async:false,
  success:function(data)
  {
    
  results=data.results;
  console.log(results);
  var totalamount=0;
  itemlistresult=results;
   /*  var totalamount=Number(data.iteminfo[0].price) * Number(quantity);  */
   for(i=0;i<results.length;i++)
   {
    
    	$('table.billtable').append(`<tr class=" m-0  row text-center">
			<td class="col-md-3">${results[i].itemname}</td>
			<td  class="col-md-3">${results[i].quantity}</td>
			<td  class="col-md-3">${results[i].price}</td>
			<td  class="col-md-3">${results[i].amount}</td>
		</tr>`);	
    totalamount=totalamount+results[i].amount;
   }
   $('#insertitemname').val('');
   $('#insertquantity').val('');
   $('.billno').text(results[i-1].billno);




  $('#totalamount').val(totalamount);
  $('#grandtotalamount').val(totalamount);

 
  $(`.${rthname}-status`).text('Open');
  },
  error:function(data)
  {
    alert("Item not in the list");
  }
})
})



$(document).on('input','#servicechargeamount,#discountamount',function(e)
{
  
  var servicechargeamount= $('#servicechargeamount').val();

  var totalamount= $('#totalamount').val();
  var discountamount= $('#discountamount').val();
  var discountpercent=$('#discountpercent').val();

  $('#grandtotalamount').val(Number(totalamount)-Number(discountamount)+Number(servicechargeamount));

})
/* $(document).on('input','#discountamount',function(e)
{
  var servicechargeamount= $('#servicechargeamount').val();
  var totalamount= $('#totalamount').val();
  var discountamount= $('#discountamount').val();
  var discountpercent=$('#discountpercent').val();
  $('#grandtotalamount').val(Number(totalamount)-Number(discountamount)+Number(servicechargeamount));
 
  
}) */
$(document).on('input','#discountpercent',function(e)
{
  var servicechargeamount= $('#servicechargeamount').val();
  var totalamount= $('#totalamount').val();
  var discountamount= $('#discountamount').val();
  var discountpercentage=$('#discountpercent').val();
  $('#grandtotalamount').val(Number(totalamount)+Number(servicechargeamount)-Number(Number(Number(discountpercentage)/100)*(Number(totalamount)+Number(servicechargeamount))));

})

$(document).on('input','#paymentreceived',function(e)
{
  var totalamount= $('#grandtotalamount').val();
  var paymentreceived= $('#paymentreceived').val();
  $('#balancedue').val(Number(paymentreceived)-Number(totalamount));
})

function printbill()
{
  var printbilldata='';

  /* printbilldata+=`<div class="ml-2 mt-2" style="width:235px !important; font-weight:bold; font-size:15px !important;"><h5 class="text-center">Hotel Atlas</h5><h6 class="text-center">Sunwal-10,Bhumahi</h6> </div>`; */
  printbilldata+=`<div class="ml-2 mt-2" style="width:235px !important; font-weight:bold; font-size:15px !important;"><h5 class="text-center">THE CHULO HOTEL</h5><h6 class="text-center">Fullbari-2, Manakamanapath,Butwal</h6> </div>`;

var customername=$('#customername').val();
if(!customername)
{
  customername='-------------------------';
}

var address=$('#address').val();
  if(!address)
{
  address='-----------------------';
}

var billno=$('.billno').val();
var salesdate=$('.salesdate').val();
var panno=$('.panno').text();

var totalamount=Number($('#totalamount').val());
var discountamount=$('#discountamount').val();
var discountpercent=$('#discountpercent').val();
var servicecharge=$('#servicechargeamount').val();
var grandtotalamount=$('#grandtotalamount').val();
var paymentreceived= $('#paymentreceived').val();
var balancedue=$('#balancedue').val();
var pandata=`<div class="ml-2" style="width:230px !important;  font-weight:bold; font-size:12px !important;"> <label >Date:${salesdate}</label><label class="ml-4">PAN No.: 611411118</label></div>
<div class="ml-2" style="width:230px !important; font-weight:bold; font-size:12px !important;"><label>Contact Us: +977-9815457915</label></div>`
var billdate=`<div class="ml-2" style="width:230px !important; font-weight:bold; font-size:12px !important;"> <label>Invoice no:${billno}</label></div>`;
var customerdetails=`<div class="ml-2" style="width:230px !important; font-weight:bold; font-size:12px !important;"> <label>Name:${customername}</label></br><label >Address:${address}</label></div>`;
var itemlisttable=`<table cellpadding="5" style="width:245px !important; font-size:15px !important;color:black; " class="ml-3
" ><tr><th>Itemname</th><th>Qty.</th><th>Rate</th><th>Amt.</th></tr>`;

console.log(itemlistresult);
for(i=0;i<itemlistresult.length;i++)
 {
  
 itemlisttable+=`<tr style="margin-top:5px;"
  class="text-center ">
    <td>${itemlistresult[i].itemname}</td>
    <td>${itemlistresult[i].quantity}</td>
    <td>${itemlistresult[i].price}</td>
    <td>${itemlistresult[i].amount}</td>
  </tr>`;	
  
 }
  itemlisttable+=`</table>`;

var finallist=`<div class="mt-1"  style="width:250px !important; font-size:15px !important; text-align:right;"><label>Subtotal:Rs.${totalamount}</label></br><label>Service Charge:Rs.${servicecharge}</label></br><label>Discount amount:Rs.${discountamount}</label></br><label>Invoice total:Rs.${grandtotalamount}</label></br><label>Payment Received:Rs.${paymentreceived}</label></br><label>Balance due:Rs.${balancedue}</label></div>`;
    popupWin = window.open("");
        popupWin.document.open();
        popupWin.document.write(`
          <html>
            <head>
            <meta charset='utf-8'>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            </head>
           <style>

    body {
  
        font-family:Arial, Helvetica, sans-serif !important;
        color:black !important;
    }


           </style>
        <body >
      ${printbilldata}${pandata}${billdate}${customerdetails}${itemlisttable}${finallist}
      <div style="width:250px !important;">
        <h6 class="text-center">Thank you !!!</h6><br>
        <p class="text-center">Get to know more at <b>www.thechulohotel.com</b></p>
          <p class="text-center">Made with <i class="fa fa-heart"></i> by <b>ANSU TECH</b></p>
        </div>`
        );

        setTimeout(function() {
    popupWin.print();
    popupWin.close();
}, 100);
    

}
$(document).on('click','#submit',function(e)
{
e.preventDefault();
alert("Ehh");
var sendvalue= [$('.billno').val(),$('#rthtype').val(),$('#rthname').val(),$('#customername').val(),$('#address').val(),$('#totalamount').val(),$('#servicechargeamount').val(),$('#discountamount').val(),$('#discountpercent').val(),$('#grandtotalamount').val(),$('#paymentreceived').val(),$('#balancedue').val(),$('.salesdate').val()];
console.log(sendvalue);

var printbilldata='';
$.ajax({
  url:'/addintobilldetails',
  type:'post',
  data:{billingdetailsdata:sendvalue},
  success:function(data)
  {
    alert("Submitted Successfully");


    new Promise((resolve,reject)=>
    {
      printbill()
      resolve()
    }).then(()=>
    {console.log("Etet");
  })
  },
  error:function(data)
  {
    alert("Oops..")
  }
})
 })


  </script>


<% include ../partials/vfoot %>

</div>