<% include ../partials/vhead %>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <% include ../partials/vnav %>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <% include ../partials/vaside %>
  <style>
        
        /*table {
            position: relative;
                    width:100% !important;
                }
         thead,tbody {
                    display: block;
                }*/
        #from,#to:focus
        {
            border:1px solid white !important;
        }
        a:active
        {
            background-color:red !important;
        }
        </style>
      

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

  
        
        <div class="row" style="max-height:100% !important;" >
        <div class="col-md-2 p-0 border h-100" >
        <input  type="text" id="ledgersearch" class="text-center mt-2 form-control"  list="accountnamelist" placeholder="Accountname list">
            <datalist id="accountnamelist" >
                   
                    <% accountnamelist.forEach(function(result1,count) { %>
                  
                            <option><%= result1.accountname  %>
                            <%  }) %> </option>                   
                        </datalist>
        
        </div>
        <div class="col-md-10 appendledgerdata purchaseformappend mt-2 border  " style="max-height:1000px;">
        
        </div>
       
        </div>
        
        
        
        
        
        <script src="../js/groupledger.js"></script>
        <script src="../js/sales.js"></script>
            <script src="../js/itemcreate.js"></script>
            <script src="../js/itemgroupcreate.js"></script>
            <script src="../js/itemcategorycreate.js"></script>
            <script src="../js/newpayment.js"></script>
            <script src="../js/unitcreate.js"></script>
        <script type="text/javascript">
            $('#ledgersearch').on('keypress',function(e)
            {
        
                if(e.keyCode===13)
                {
                var startdate;
                var enddate;
                $('.ledgerdata1').html('');
            
                $.ajax({
                    url:'/ledger',
                    type:'post',
                    async:false,
                    data:{accountname:e.target.value},
                    success:function(data)
                    {
                        var ledgerdata=data.ledgerdata;
                        console.log("Length is"+ledgerdata.length);
                        console.log(ledgerdata);
                        startdate=ledgerdata[0].date;
                        enddate=ledgerdata[ledgerdata.length-1].date;
                        var totalcredit=0;
                        var totaldebit=0;
                        var vouchertype= {0:'payment',1:'purchase',2:'sales'};
                        if(ledgerdata.length>0)
                        {
        
            
            var displayledgerdata=`<div class="col-12 ledgerdata1"><label>Ledger: </label>
            <input type="text" value='${e.target.value}' class="border border-0">
          <label id="to" class="text-left ml-2  border-0 float-right">${enddate} </label><label class="float-right">to</label>
         <label id="to" class="text-right mr-1  border-0 float-right">${startdate} </label>
            <label class="float-right mr-1">Date:</label>
        
        <table class="table table-hover ledgertable text-center mt-2">
            <thead><tr>
                <th>Date</th>
                <th>Particulars</th>
                <th>Vch. Type</th>
                <th>Vch No.</th>
                <th>Debit</th>
                <th>Credit</th>
            </tr></thead><tbody style="height:200px; overflow-y:scroll;">`;
                for(j=0;j<3;j++)
                {
                    console.log(ledgerdata[j].length);
                    for(i=0;i<ledgerdata[j].length;i++)
                        {		
                    displayledgerdata+=`<tr data-vouchertype='${ledgerdata[j][i].vouchertype}' data-transactionno='${ledgerdata[j][i].transactionno}'><td>${ledgerdata[j][i].date}</td><td>${ledgerdata[j][i].accountname}</td><td>${ledgerdata[j][i].vouchertype}</td><td>${ledgerdata[j][i].transactionno}</td>`;
                    if(ledgerdata[j][i].accountname ==='Sales Account')
                    {
                        alert("Sd");
                    displayledgerdata+=`<td>${ledgerdata[j][i].dcamount}</td><td></td></tr>`
                        totaldebit=totaldebit+ledgerdata[j][i].dcamount;
                    }
                    else if(ledgerdata[j][i].accountname ==='Purchases Account')
                    {
                        alert("Sd");
                    displayledgerdata+=`<td></td><td>${ledgerdata[j][i].dcamount}</td></tr>`
                        totaldebit=totaldebit+ledgerdata[j][i].dcamount;
                    }
                    else if(ledgerdata[j][i].dctype==='c' )
                    {
                        displayledgerdata+=`<td>${ledgerdata[j][i].dcamount}</td><td></td></tr>`
                        totaldebit=totaldebit+ledgerdata[j][i].dcamount;
                    }
                    else
                    {
                        displayledgerdata+=`<td></td><td>${ledgerdata[j][i].dcamount}</td></tr>`;
                        totalcredit=totalcredit+ledgerdata[j][i].dcamount;
        
                    }
        
                }
            }
        
            if((totalcredit-totaldebit)>0)
            {
                displayledgerdata+=`</tbody><tfoot><tr><th></th><th></th><th></th><th> Current Total </th><th>${totaldebit}</th><th>${totalcredit}</th></tr><tr><th></th><th></th><th></th><th>Closing balanace </th><th></th><th>${totalcredit-totaldebit}</th></tr></tfoot></table></div>`;
            }
            else
            {
                displayledgerdata+=`</tbody><tfoot><tr><th></th><th></th><th></th><th> Current Total </th><th>${totaldebit}</th><th>${totalcredit}</th></tr><tr><th></th><th></th><th></th><th>Closing balance </th><th>${totaldebit-totalcredit}</th><th></th></tr></tfoot></table></div>`;
        }
                $('.appendledgerdata').append(displayledgerdata);
                        }
                    },
                    error:function(data)
                    {
                        alert("Accountname not in the list");
                    }
                })
        
                }
            })
        
        
        
            $(document).on('keyup',function(e)
        {
            // alert(e.keyCode);
        console.log(e.keyCode);
            
        
            console.log(e.keyCode);
            if(e.keyCode===27)
            {
                var test= confirm("Do you want to close ?");
                alert(test);
                if(test)
                {
                    alert(test);
                    $('div.ledgerdata2').text('');
                    $('div.ledgerdata1').show();
                }
            }
        })
        $(document).on('click','div.ledgerdata1 table.ledgertable tbody tr',function(e)
        {
            alert("CLicked");
            var vouchertype= $(this).data('vouchertype');
            var transactionno= $(this).data('transactionno');
            // alert(vouchertype);
            // alert(transactionno);
        $.ajax({
            url:'/editvoucher',
            type:'post',
            data:{vouchertype:vouchertype,transactionno:transactionno},
            async:false,
            success:function(data)
            {
                
                prjcdata=data.prjcdata;
                alert("Process completed")
                $('.ledgerdata1').hide();
            if(vouchertype==='Payment' || vouchertype==='Contra' || vouchertype==='Receipt' || vouchertype==="Journal")
        {
            console.log(prjcdata);
          var editpaymentform=`<div class="row ledgerdata2 ml-3"><div class="col-md-12">
             <div class="paymentreceiptjournalcontraform">
                 <div class="row">
                     <div class="col-12 mt-2 billdata">
                         <br />
                         <label style="font-size:20px; width:150px; text-align: center;  background-color:red;" id="transactiontitle">${vouchertype}</label><label class="ml-3">Number:</label>
                         <h6 class=' text-dark  ml-2 d-inline mr-5 transactionno' id="transactionno">
                             ${prjcdata[0].transactionno}
                         </h6>
                         <input id="datemodify" class="float-right border-0 d-inline is-calendarsPicker" value="${prjcdata[0].paymentdate}">
                         <h6 class='dates text-dark d-inline float-right mr-2'>Date:</h6>
                     </div>
                 </div>
                 <form id="paymenttranscation" onkeypress="return event.keyCode != 13;" onsubmit="return false" action="" method="post" autocomplete="off">
                     <div style="max-height: 400px;" class="table-responsive mt-5">
                         <table class="paymentheader table table-bordered  paymenttable">
                             <tr class=" m-0 bg-dark text-white row text-center">
                                 <th class="col-md-1">S.N.</th>
                                 <th class="col-md-1">D/C</th>
                                 <th class="col-md-4">Account</th>
                                 <th class="col-md-3">Debit(Rs.)</th>
                                 <th class="col-md-3">Credit(Rs.)</th>
                             </tr>`;
        for (var i = 0; i < prjcdata.length; i++) 
        {
        editpaymentform+=`<tr class=" m-0 row text-center">
                                 <td id="sn" class="col-md-1">${i+1}</td>
                                 <td class="col-md-1 p-0"><input list="dctypelist" class="form-control" name="dctype" id="dctype-${i+1}" value="${prjcdata[i].dctype}" type="text" required maxlength="1" oninput="javascript:oninputdctype(event);" /></td>
                                 <td class="col-md-4 p-0"><input list="accountnamelist" name="accounttype" id="accounttype-${i+1}" value="${prjcdata[i].account}" type="text" class="form-control text-center" required /></td>`;
        if(prjcdata[i].dctype==='d') { 
        editpaymentform+=`<td class="col-md-3 p-0"><input onkeypress="javascript:createnewpayment(event)" oninput="javascript:checktotaldc(event);" value="${prjcdata[i].dcamount}" name="dcamount" id="debit-${i+1}" type="number" min="0" class="form-control" required  /></td>
        <td class="col-md-3 p-0"><input onkeypress="javascript:createnewpayment(event)" oninput="javascript:checktotaldc(event);" name="dcamount" id="credit-${i+1}" type="number" min="0" class="form-control" required  disabled /></td>`
        } 
        else 
        {
        editpaymentform+=`<td class="col-md-3 p-0"><input onkeypress="javascript:createnewpayment(event)" oninput="javascript:checktotaldc(event);"  name="dcamount" id="debit-${i+1}" type="number" min="0" class="form-control" required disabled  /></td>
        <td class="col-md-3 p-0"><input onkeypress="javascript:createnewpayment(event)" oninput="javascript:checktotaldc(event);" name="dcamount" id="credit-${i+1}" type="number" min="0" class="form-control" value="${prjcdata[i].dcamount}" required /></td>`;
        }
        editpaymentform+=`</tr>`;
        }
        editpaymentform+=`</table>
                     
                     <div class="row">
                         <div class="col-md-6 mr-5">
                             <textarea rows="3"  cols="50" id="narration" >${ prjcdata[0].narration }</textarea>
                         </div>
                         <div class="col-md-2">
                             <label>Rs.</label><label class=" text-center ml-1 mr-3" id="totaldebit">${ prjcdata[0].debitamount}</label>
                         </div>
                         <div class="col-md-2">
                             <label class="ml-5">Rs.</label><label id="totalcredit">${prjcdata[0].creditamount}</label>
                             <button type="reset" class="btn d-none resetpayment justify-content-center  btn-primary"> Reset
                             </button>
                         </div>
                     </div>
                     <div class="row">
                         <div class="col-md-10"></div>
                         <div class="col-md-2 mt-n2">
                             <button type="submit" class="btn btn-primary"> Submit
                             </button>
                         </div>
                     </div>
                 </form>
             </div>
        </div>
        </div>`;
        console.log(editpaymentform);
                // var iframeappend= '<div class="ledgerdata2"><iframe style="width:100%;height:600px;" src="http://localhost:3000/voucheredit"></iframe></div>';
                $('.appendledgerdata').append(editpaymentform);
        }
        else if (vouchertype === 'Sales')
        {
        
        console.log(prjcdata)
        
        
        var editpaymentform=`<div class="salespurchaseform ledgerdata2 ">
            <form id="salespurchasetransaction" method="post"  onkeypress="return event.keyCode != 13;" onsubmit="return false;" >
        <div class="row">
        
            <div class="col-12 mt-2 salespurchasebill">
                <label style="font-size:20px; width:150px; text-align: center;  background-color:red;" id="transactiontitle1">Sales</label><label class="ml-3">Number:</label><h6 class='ml-2 text-dark d-inline mr-5 ' id="transactionno1" >${prjcdata[0].salesno}</h6>
                <input id="datemodify" class="float-right border-0 d-inline is-calendarsPicker" value="${prjcdata[0].salesdate}">
                <h6   class='dates text-dark d-inline float-right mr-5'>Date:</h6>
                <br>
                <label style="font-size:15px;">Party's A/C Name </label>
                <input autocomplete="off" type="text" list="accountnamelist"  id="accountname" class="form-control w-25 d-inline" required value='${prjcdata[0].accountname}' autofocus>
                <br>
            </div>
        </div>
            <div style="max-height: 400px;" class="table-responsive mt-3">
                <table class="salestable table table-bordered ">
                    <tr class=" m-0 bg-dark text-white row text-center">
                        <th class="col-md-1">S.N.</th>
                        <th class="col-md-4">Name of Item</th>
                        <th class="col-md-2">Quantity</th>
                        <th class="col-md-2">Rate</th>
                        <th class="col-md-1">per</th>
                        <th class="col-md-2">Amount</th>
                    </tr>
                `;
        
            var totalamount=0;
        for (var i = 0; i < prjcdata.length; i++) 
        {
        editpaymentform+=`<tr  class=" m-0 row text-center">
              <td id="sn" class="col-md-1 p-1  ">${i+1}</td>
              <td  class="col-md-4 p-0"><input required list="itemnamelist" class="form-control" name="itemname" id="itemname-${i+1}" value=${prjcdata[i].itemname} type="text" required oninvalid="this.setCustomValidity('Item not in the list!!')"/></td>
              <td  class="col-md-2 p-0"><input value=${prjcdata[i].quantity} required  name="quantity" id="quantity-${i+1}" class="form-control" min="0" type="number"  /></td>
              <td  class="col-md-2 p-0"><input required value=${prjcdata[i].rate} name="rate" id="rate-${i+1}"  type="number" min="0" class="form-control"  /></td>
              <td   class="col-md-1 p-0"><input autocomplete="off" value=${prjcdata[i].units} list="unitlist" name="units" id="units-${i+1}"  type="text"  class="form-control" required /></td>
              <td   class="col-md-2 p-0"><input onkeypress="createnewsalesbox(event)" name="amount" id="amount-${i+1}" value=${prjcdata[i].amount} type="text" class="form-control text-center" readonly  required /></td>
            </tr>`;
            totalamount=totalamount+prjcdata[i].amount;
        } 
        
        
        editpaymentform+=`</table>
            </div>    <div class="row">
                <div class="col-md-4 ml-5"></div>
          
                <div class="col-md-4 float-right ml-3"></div>
                <label>Total amount Rs.</label>
                <label class="d-inline form-control-sm  text-center" id="totalamount">${totalamount}</label>
                <button type="reset" class="btn ml-5 d-none resetpurchase justify-content-center  btn-primary"> Reset
                </button>
                <div class="col-md-1"></div>
                <button type="submit" onclick="javascript:purchasesubmit(event);" class="btn ml-5 col-md-1 ml-5 w-25 btn-sm float-right btn-primary"> Submit
                </button>
            </div>
        </form>
        </div>`;
        
        $('div.purchaseformappend').append(editpaymentform);
        
        }
        
        
        else
        {
            
        console.log(prjcdata)
        return new Promise((resolve,reject)=>
        {
        
        
        if(prjcdata.length===0)
        {
            reject("No any item");
        }
        var editpaymentform=`<div class="salespurchaseform ledgerdata2  ">
            <form id="salespurchasetransaction" method="post"  onkeypress="return event.keyCode != 13;" onsubmit="return false;" >
        <div class="row">
        
            <div class="col-12 mt-2 salespurchasebill">
                <label style="font-size:20px; width:150px; text-align: center;  background-color:red;" id="transactiontitle1">Purchase</label><label class="ml-3">Number:</label><h6 class='ml-2 text-dark d-inline mr-5 ' id="transactionno1" >${prjcdata[0].purchaseno}</h6>
                
                <input id="datemodify" class=" float-right border-0 d-inline is-calendarsPicker" value="${prjcdata[0].purchasedate}">
                <h6  class='dates text-dark d-inline float-right mr-3'>Date:</h6>
                <br>
                <label style="font-size:15px;">Party's A/C Name </label>
                <input autocomplete="off" type="text" list="accountnamelist"  id="accountname" class="form-control w-25 d-inline" required value='${prjcdata[0].accountname}' autofocus>
                <br>
            </div>
        </div>
            <div style="max-height: 400px;" class="table-responsive mt-3">
                <table class="salestable table table-bordered">
                    <tr class=" m-0 bg-dark text-white row text-center">
                        <th class="col-md-1">S.N.</th>
                        <th class="col-md-4">Name of Item</th>
                        <th class="col-md-2">Quantity</th>
                        <th class="col-md-2">Rate</th>
                        <th class="col-md-1">per</th>
                        <th class="col-md-2">Amount</th>
                    </tr>`;
        
        
        var totalamount=0;
        
            for (var i = 0; i < prjcdata.length; i++) 
        {
        editpaymentform+=`<tr  class=" m-0 row text-center">
              <td id="sn" class="col-md-1  ">${i+1}</td>
              <td  class="col-md-4 p-0"><input required list="itemnamelist" class="form-control" name="itemname" id="itemname-${i+1}" value=${prjcdata[i].itemname} type="text" required oninvalid="this.setCustomValidity('Item not in the list!!')"/></td>
              <td  class="col-md-2 p-0"><input value=${prjcdata[i].quantity} required  name="quantity" id="quantity-${i+1}" class="form-control" min="0" type="number"  /></td>
              <td  class="col-md-2 p-0"><input required value=${prjcdata[i].rate} name="rate" id="rate-${i}"  type="number" min="0" class="form-control"  /></td>
              <td   class="col-md-1 p-0"><input autocomplete="off" value=${prjcdata[i].units} list="unitlist" name="units" id="units-${i+1}"  type="text"  class="form-control" required /></td>
              <td   class="col-md-2 p-0"><input onkeypress="createnewsalesbox(event)" name="amount" id="amount-${i+1}" value=${prjcdata[i].amount} type="text" class="form-control text-center" readonly  required /></td>
            </tr>`;
        totalamount=totalamount+prjcdata[i].amount;
        } 
        
        editpaymentform+=`</table>
            </div>    <div class="row">
                <div class="col-md-4 ml-5"></div>
          
                <div class="col-md-4 float-right ml-3"></div>
                <label>Total amount Rs.</label>
                <label class="d-inline form-control-sm  text-center" id="totalamount">${totalamount}</label>
                <button type="reset" class="btn ml-5 d-none resetpurchase justify-content-center  btn-primary"> Reset
                </button>
                <div class="col-md-1"></div>
                <button type="submit" onclick="javascript:purchasesubmit(event);" class="btn ml-5 col-md-1 ml-5 w-25 btn-sm float-right btn-primary"> Submit
                </button>
            </div>
        </form>
        </div>`;
        resolve(editpaymentform);
        }).then(function(editpaymentform)
        {
        console.log(editpaymentform);
        $('div.purchaseformappend').append(editpaymentform);
        })
        .catch(function(err)
        {
            console.log(err);
            alert("Err");
        })
        }
        
                // window.location.replace(data.url);
            },
            error:function(data)
            {
                alert("Process couldn't be completed. Please Try again");
            }
        
        
        })
        })
        
        
        </script>
        

    </div>


    <% include ../partials/vfoot %>